# npm i -g typescript @typescript/native-preview vscode-langservers-extracted @tailwindcss/language-server @astrojs/language-server

[[language]]
name = "typescript"
formatter = { command = "prettierd", args = ["--stdin-filepath", "x.ts"] }
language-servers = ["tsgo-lsp", "vscode-eslint-language-server"]
auto-format = true

[[language]]
name = "javascript"
formatter = { command = "prettierd", args = ["--stdin-filepath", "x.js"] }
auto-format = true

[[language]]
name = "tsx"
formatter = { command = "prettierd", args = ["--stdin-filepath", "x.tsx"] }
language-servers = ["tsgo-lsp", "tailwindcss-ls", "vscode-eslint-language-server"]
auto-format = true
block-comment-tokens = ["{/*", "*/}"]

[[language]]
name = "astro"
formatter = { command = "prettierd", args = ["--stdin-filepath", "x.astro"] }
language-servers = ["astro-ls"]
auto-format = true

[[language]]
name = "svelte"
formatter = { command = "prettierd", args = ["--stdin-filepath", "x.svelte"] }
auto-format = true

[[language]]
name = "json"
auto-format = false
# formatter = { command = "npx", args = ["prettier", "--parser", "json"] }

[[language]]
name = "python"
formatter = { command = "ruff", args = ["format", "--line-length", "92", "-"] }
auto-format = true

[[language]]
name = "css"
auto-format = false
language-servers = ["vscode-css-language-server", "tailwindcss-ls"]

[language-server.tsgo-lsp]
command = "tsgo"
args = ["--lsp", "--stdio"]

[language-server.deno-lsp]
command = "deno"
args = ["lsp"]
environment = { NO_COLOR = "1" }

[[language]]
name = "bash"
# auto-format = true
# formatter = { command = "shfmt", args = ["--indent", "2"] }

[language-server.rust-analyzer.config]
cargo.targetDir = true
# completion.autoimport.enable = false
imports.granularity.group = "item"

# brew install taplo
[[language]]
name = "toml"
formatter = { command = "taplo", args = ["fmt", "--option", "column_width=92", "-"] }
auto-format = true

[[language]]
name = "racket"
formatter = { command = "raco", args = ["fmt", "-i"] }
auto-format = true
