# npm i -g typescript typescript-language-server vscode-langservers-extracted @tailwindcss/language-server @astrojs/language-server

[[language]]
name = "typescript"
formatter = { command = "prettierd", args = ["--stdin-filepath", "x.ts"] }
language-servers = [ "typescript-language-server", "vscode-eslint-language-server" ]
auto-format = true

[[language]]
name = "javascript"
formatter = { command = "prettierd", args = ["--stdin-filepath", "x.js"] }
auto-format = true

[[language]]
name = "tsx"
formatter = { command = "prettierd", args = ["--stdin-filepath", "x.tsx"] }
language-servers = [ "typescript-language-server", "tailwindcss-ls", "vscode-eslint-language-server" ]
auto-format = true
block-comment-tokens = ["{/*", "*/}"]

[[language]]
name = "astro"
formatter = { command = "prettierd", args = ["--stdin-filepath", "x.astro"] }
language-servers = ["astro-ls"]
auto-format = true

[[language]]
name = "svelte"
formatter = { command = "prettierd", args = ["--stdin-filepath", "x.svelte"] }
auto-format = true

[[language]]
name = "json"
auto-format = false
# formatter = { command = "npx", args = ["prettier", "--parser", "json"] }

[[language]]
name = "python"
formatter = { command = "black", args = ["--quiet", "-"] }
auto-format = true

[[language]]
name = "css"
auto-format = false
language-servers = [ "vscode-css-language-server", "tailwindcss-ls" ]

# have to copy all this from the default config so I can do run onSave
# https://github.com/helix-editor/helix/blob/78957195/languages.toml#L258-L278
[language-server.vscode-eslint-language-server.config]
validate = "on"
experimental = { useFlatConfig = false }
rulesCustomizations = []
run = "onSave"
problems = { shortenToSingleLine = false }
nodePath = ""

[language-server.vscode-eslint-language-server.config.codeAction.disableRuleComment]
enable = true
location = "separateLine"

[language-server.vscode-eslint-language-server.config.codeAction.showDocumentation]
enable = true

[language-server.vscode-eslint-language-server.config.workingDirectory]
mode = "location"

[language-server.biome]
command = "biome"
args = ["lsp-proxy"]

[language-server.deno-lsp]
command = "deno"
args = ["lsp"]
environment = { NO_COLOR = "1" }

[[language]]
name = "bash"
auto-format = true
formatter = { command = "shfmt", args = ["--indent", "2"] }

[language-server.rust-analyzer.config]
cargo.targetDir = true
# completion.autoimport.enable = false
imports.granularity.group = "item"
