## With workspace filtering enabled, Atuin will filter for commands executed
## in any directory within a git repository tree (default: false)
workspaces = true
filter_mode = "workspace"
## which filter mode to use when atuin is invoked from a shell up-key binding
## the accepted values are identical to those of "filter_mode"
## leave unspecified to use same mode set in "filter_mode"
##
## I am not actually using this setting for now because I have up arrow disabled
## (see .zshrc)
filter_mode_shell_up_key_binding = "session"

command_chaining = true

## what to do when the escape key i++++essed when searching
## possible values: return-original, return-query
# exit_mode = "return-original"

## prevent commands matching any of these regexes from being written to history.
## Note that these regular expressions are unanchored, i.e. if they don't start
## with ^ or end with $, they'll match anywhere in the command.
## For details on the supported regular expression syntax, see
## https://docs.rs/regex/latest/regex/#syntax
history_filter = [
  "oxide-token-",
  "_API_KEY=",
  #   "^secret-cmd",
  #   "^innocuous-cmd .*--secret=.+"
]

## Defaults to true. If enabled, upon hitting enter Atuin will immediately execute the command. Press tab to return to the shell and edit.
# This applies for new installs. Old installs will keep the old behaviour unless configured otherwise.
enter_accept = true

[search]
## see filter_mode docs for full set
filters = ["workspace", "global"]

[stats]
# Set commands where we should consider the subcommand for statistics. Eg, kubectl get vs just kubectl
common_subcommands = ["cargo", "git", "npm", "jj"]
