<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.david.det</string>
	<key>connections</key>
	<dict>
		<key>21EBAF59-445C-47D9-8075-E3ADCC329D25</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>239C2603-BE4B-480B-93F5-EAB7A76610F1</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>35C32BD8-A1A9-48F2-8660-3265BFBEE942</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>21EBAF59-445C-47D9-8075-E3ADCC329D25</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string></string>
	<key>description</key>
	<string>Wrap clipboard contents in HTML details tag</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Details Wrap</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>keyword</key>
				<string>det||details wrap</string>
				<key>subtext</key>
				<string>Wrap clipboard in &lt;details&gt; tag</string>
				<key>text</key>
				<string>Details Wrap</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>35C32BD8-A1A9-48F2-8660-3265BFBEE942</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>summary="${1:-Details}"
contents="$(pbpaste)"
printf '&lt;details&gt;\n&lt;summary&gt;%s&lt;/summary&gt;\n\n%s\n\n&lt;/details&gt;' "$summary" "$contents"</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>21EBAF59-445C-47D9-8075-E3ADCC329D25</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>autopaste</key>
				<true/>
				<key>clipboardtext</key>
				<string>{query}</string>
				<key>ignoredynamicplaceholders</key>
				<false/>
				<key>transient</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.clipboard</string>
			<key>uid</key>
			<string>239C2603-BE4B-480B-93F5-EAB7A76610F1</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>21EBAF59-445C-47D9-8075-E3ADCC329D25</key>
		<dict>
			<key>xpos</key>
			<real>300.0</real>
			<key>ypos</key>
			<real>120.0</real>
		</dict>
		<key>239C2603-BE4B-480B-93F5-EAB7A76610F1</key>
		<dict>
			<key>xpos</key>
			<real>530.0</real>
			<key>ypos</key>
			<real>120.0</real>
		</dict>
		<key>35C32BD8-A1A9-48F2-8660-3265BFBEE942</key>
		<dict>
			<key>xpos</key>
			<real>70.0</real>
			<key>ypos</key>
			<real>120.0</real>
		</dict>
	</dict>
	<key>userconfigurationconfig</key>
	<array/>
	<key>webaddress</key>
	<string></string>
</dict>
</plist>
